// Minimal modern reset

*, *::before, *::after { box-sizing: border-box; }

html { line-height: 1.15; -webkit-text-size-adjust: 100%; font-size: $font-size-base; scroll-behavior: smooth; touch-action: manipulation; overflow-x: hidden; }
body { margin: 0; }

h1, h2, h3, h4, h5, h6 { margin-top: 0; }

pre, code, kbd, samp { font-family: monospace, monospace; font-size: 1em; }

b, strong { font-weight: bolder; }

img { display: block; max-width: 100%; border-style: none; }

button, input, select, textarea { font: inherit; margin: 0; }
button { appearance: none; text-transform: none; }
button::-moz-focus-inner { border-style: none; padding: 0; }

summary { display: list-item; cursor: pointer; }

[hidden] { display: none; }
