// Shortcode Styles

.markdown {
  // {{< hint >}}
  .course-hint {
    @each $name, $color in $hint-colors {
      &.#{$name} {
        border-color: $color;
        background-color: rgba($color, 0.1);
      }
    }
  }
}
