// Sidebar Navigation (Menu & TOC)

// Generic cleanup for lists inside sidebars
aside nav ul {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
        margin: 0;
        position: relative;
    }
}

// --- Menu Styling (Left Sidebar) ---

.course-menu {
    nav ul > li {
         margin: 0;
    }

    nav a,
    nav label {
        display: block;
        padding: 0.5em 0.75em;
        
        color: var(--body-font-color); // default light text
        font-size: $font-size-12;
        text-decoration: none;
        word-wrap: break-word;
        cursor: pointer;
        
        &:hover {
            opacity: 0.7;
        }
    }
    
    // Active link
    nav a.active {
        color: var(--color-link);
        font-weight: bold;
    }

    // Toggle logic for submenus
    input.toggle + label + ul {
        display: none;
    }

    input.toggle:checked + label + ul {
        display: block;
    }

    input.toggle + label::after {
        content: "▸";
        float: right;
    }

    input.toggle:checked + label::after {
        content: "▾";
    }
    
    // Nested indentation
    nav ul ul {
        padding-inline-start: $padding-16;
    }
}

// --- TOC Styling (Right Sidebar) ---

.course-toc,
.course-toc-mobile {
    nav a {
        display: block;
        padding: 0.3em 0.75em;
        font-size: $font-size-12;
        line-height: 1.25;
        color: inherit;
        text-decoration: none;

        &:hover {
           text-decoration: underline;
        }
    }
    
    nav > ul > li:first-child {
        margin-top: 0;
    }
    
    nav ul ul {
         padding-inline-start: $padding-16;
    }
    
    img {
        height: 1em;
    }
}


// Sidebar Widgets

.course-icon {
    filter: var(--icon-filter);
}
