{# Render Table of Contents (up to 3 heading levels) #}
{% macro render_toc(toc) %}
<ul>
  {% for h1 in toc %}
  <li>
    <a href="#{{ h1.id }}">{{ h1.title }}</a>
    {% if h1.children %}
    <ul>
      {% for h2 in h1.children %}
      <li>
        <a href="#{{ h2.id }}">{{ h2.title }}</a>
        {% if h2.children %}
        <ul>
          {% for h3 in h2.children %}
          <li>
            <a href="#{{ h3.id }}">{{ h3.title }}</a>
          </li>
          {% endfor %}
        </ul>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% endmacro render_toc %}
